{{! -- Citation for the following page:
Date: 12/02/2024
Based on: CS 340 nodejs starter app
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app --}}


{{! -- Citation for the nav bar:
Date: 12/0/2024
Copied from: Bootstrap documentation
Source URL: https://getbootstrap.com/docs/5.3/components/navbar/ --}}

<nav class="navbar navbar-dark  sticky-top navbar-expand-lg align-middle">
    <div class="container-fluid">
        <a class="navbar-brand">Dunder Mifflin</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/customers">Customers</a>
                <a class="nav-link active current-page" aria-current="page"
                    href="/employees">Employees</a>
                <a class="nav-link " href="/branches">Branches</a>
                <a class="nav-link" href="/departments">Departments</a>
                <a class="nav-link" href="/invoices">Invoices</a>
                <a class="nav-link" href="/invoice_items">Invoice Items</a>
                <a class="nav-link" href="/products">Products</a>
            </div>
        </div>
    </div>
</nav>

{{!-- Create an Employees table --}}

<div class="container">

    <div class="row border rounded  p-3 shadow-sm table-div">
        <h2 class=" page-name mt-3 mb-3 ">Employees</h2>
        <table class="table" id="employees-table">

            {{!-- Header section --}}
            <thead>
                <tr>
                    {{#each data.[0]}}
                    <th>
                        {{@key}}
                    </th>
                    {{/each}}
                    <th></th>
                </tr>
            </thead>

            {{!-- Body section --}}
            <tbody>
                {{#each data}}
                <tr data-value={{this.employeeID}}>
                    <td>{{this.employeeID}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.email}}</td>
                    <td>{{this.phone}}</td>
                    <td>{{this.branch}}</td>
                    <td>{{this.department}}</td>
                    <td><button class="btn btn-outline-secondary btn-sm"
                            onclick="deleteEmployee({{this.employeeID}})">Delete</button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <script src="./js/delete_employee.js"></script>




    {{!-- Form to add a record to the table --}}

    <div class="row">
        <div class="col-6">
            <div
                class="container border rounded py-2 px-4 mt-2 mb-3 shadow-sm">

                <h4 class="pt-3 pb-2 form-name">Add an Employee:</h4>

                <form id="add-employee-form-ajax">

                    <div class="form-group">
                        <label for="input-name">Employee Name: </label>
                        <input type="text" class="form-control"
                            name="input-name" id="input-name">
                    </div>

                    <div class="form-group">
                        <label for="input-email">Email: </label>
                        <input type="text" class="form-control"
                            name="input-email" id="input-email">
                    </div>

                    <div class="form-group">
                        <label for="input-phone">Phone: </label>
                        <input type="text" class="form-control"
                            name="input-phone" id="input-phone">
                    </div>

                    <div class="form-group">
                        <label for="input-branch">Branch: </label>
                        <select name="input-branch" class="form-select"
                            id="input-branch">
                            <option>Select a Branch</option>
                            {{#each branches}}
                            <option value="{{this.branchID}}">{{this.name}}
                            </option>
                            {{/each}}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="input-department">Department: </label>
                        <select name="input-department" class="form-select"
                            id="input-department">
                            <option>Select a Department</option>
                            {{#each departments}}
                            <option value="{{this.departmentID}}">{{this.name}}
                            </option>
                            {{/each}}
                        </select>
                    </div>

                    <div class="form-group text-center">
                        <input type="submit"
                            class="btn btn-primary my-3 px-5 mx-auto">
                    </div>

                </form>
            </div>

        </div>


        {{!-- Embed our javascript to handle the DOM manipulation and AJAX
        request
        --}}
        <script src="./js/add_employee.js"></script>

        {{!-- Form to update a record in the table --}}

        <div class="col-6">
            <div
                class="container border rounded py-2 px-4 mt-2 mb-4 shadow-sm">
                <h4 class="pt-3 pb-2 form-name">Update An Employee:</h4>
                <form id="update-employee-form-ajax">

                    <div class="form-group">
                        <label for="input-name-update">Employee Name: </label>
                        <select name="input-name-update" class="form-select"
                            id="mySelect">
                            <option value="test">Select an Employee</option>
                            {{#each data}}
                            <option value="{{this.employeeID}}">{{this.name}}
                            </option>
                            {{/each}}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="input-email-update">Email: </label>
                        <input type="text" class="form-control"
                            name="input-email-update" id="input-email-update">
                    </div>

                    <div class="form-group">
                        <label for="input-phone-update">Phone: </label>
                        <input type="text" class="form-control"
                            name="input-phone-update" id="input-phone-update">
                    </div>

                    <div class="form-group">
                        <label for="input-branch-update">Branch: </label>
                        <select name="input-branch-update" class="form-select"
                            id="input-branch-update">
                            <option>Select a Branch</option>
                            {{#each branches}}
                            <option value="{{this.branchID}}">{{this.name}}
                            </option>
                            {{/each}}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="input-department-update">Department:
                        </label>
                        <select name="input-department-update"
                            class="form-select" id="input-department-update">
                            <option>Select a Department</option>
                            {{#each departments}}
                            <option value="{{this.departmentID}}">{{this.name}}
                            </option>
                            {{/each}}
                        </select>
                    </div>

                    <div class="form-group text-center">
                        <input type="submit"
                            class="btn btn--primary my-3 px-5 mx-auto">
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


<script src="./js/update_employee.js"></script>