{{! -- Citation for the following page:
Date: 12/02/2024
Based on: CS 340 nodejs starter app
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app --}}


{{! -- Citation for the nav bar:
Date: 12/0/2024
Copied from: Bootstrap documentation
Source URL: https://getbootstrap.com/docs/5.3/components/navbar/ --}}
<nav class="navbar navbar-dark  sticky-top navbar-expand-lg align-middle">
    <div class="container-fluid">
        <a class="navbar-brand">Dunder Mifflin</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/customers">Customers</a>
                <a class="nav-link" href="/employees">Employees</a>
                <a class="nav-link" href="/branches">Branches</a>
                <a class="nav-link" href="/departments">Departments</a>
                <a class="nav-link" href="/invoices">Invoices</a>
                <a class="nav-link" href="/invoice_items">Invoice Items</a>
                <a class="nav-link active current-page" aria-current="page"
                    href="/products">Products</a>
            </div>
        </div>
    </div>
</nav>

{{!-- Create a Products table --}}

<div class="container">

    <div class="row border rounded  p-3 shadow-sm table-div">
        <h2 class=" page-name mt-3 mb-3 ">Products</h2>
        <table class="table" id="products-table">

            {{!-- Header section --}}
            <thead>
                <tr>
                    {{#each data.[0]}}
                    <th>
                        {{@key}}
                    </th>
                    {{/each}}
                    <th></th>
                </tr>
            </thead>

            {{!-- Body section --}}
            <tbody>
                {{#each data}}
                <tr data-value={{this.productID}}>
                    <td>{{this.productID}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.listPrice}}</td>
                    <td><button class="btn btn-outline-secondary btn-sm"
                            onclick="deleteProduct({{this.productID}})">Delete</button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <script src="./js/delete_product.js"></script>


    {{!-- Form to add a record to the table --}}

    <div class="row">
        <div class="col-6">
            <div
                class="container border rounded py-2 px-4 mt-2 mb-3 shadow-sm">

                <h4 class="pt-3 pb-2 form-name">Add a Product:</h4>

                <form id="add-product-form-ajax">

                    <div class="form-group">
                        <label for="input-name">Product Name: </label>
                        <input type="text" name="input-name"
                            class="form-control" id="input-name">
                    </div>

                    <label for="input-list-price">List Price: </label>
                    <input type="text" name="input-list-price"
                        class="form-control" id="input-list-price">

                    <div class="form-group text-center">
                        <input type="submit"
                            class="btn btn--primary my-4 px-5 mx-auto">
                    </div>
                </form>
            </div>
        </div>

        {{!-- Embed our javascript to handle the DOM manipulation and AJAX
        request
        --}}
        <script src="./js/add_product.js"></script>

        {{!-- Form to update a record in the table --}}

        <div class="col-6">
            <div
                class="container border rounded py-2 px-4 mt-2 mb-4 shadow-sm">
                <h4 class="pt-3 pb-2 form-name">Update A Product:</h4>
                <form id="update-product-form-ajax">

                    <div class="form-group">
                        <label for="input-name">Product Name: </label>
                        <select name="input-name" class="form-select" id="mySelect">
                            <option value="test">Select a Product</option>
                            {{#each data}}
                            <option value="{{this.productID}}">{{this.name}}
                            </option>
                            {{/each}}
                        </select>
                    </div>

                    <div class="form-group">
                    <label for="input-list-price">List Price: </label>
                    <input type="text" name="input-list-price" class="form-control"
                        id="input-list-price-update">
                    </div>

                    <div class="form-group text-center">
                        <input type="submit"
                            class="btn btn--primary my-4 px-5 mx-auto">
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<script src="./js/update_product.js"></script>